*{
    margin: 0;
    padding: 0;

}
body{
    background: rgb(0, 0, 0);
    color: white;
}
.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


table {
    width: 100%;
    border-collapse: collapse;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    /* border: 1px solid #ddd; */
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}

#customers tr:hover {
    background-color: rgb(90, 10, 90);
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d7e109;
    color: white;
    width: 5px;
}
img{
    width: 100px;
}
h1{
    text-align: center;
    color: purple;
}
.list{
    display: flex;
    justify-content: center;
}
select,input{
    margin: 10px;
    width: 250px;
    padding: 5px;
    font-size: 18px;
}
textarea{
    margin: 10px;
    padding: 3px;
    font-family: sans-serif;
}
.btn{
    margin: 5px;
    cursor: pointer;
    padding: 5px;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    background: transparent;
    transition: 0.5s ease-in-out;
}
.btn:hover{
    background-color: rgb(72, 72, 73);
    color: white;
}
.data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: lightblue;
    padding: 50px 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    display: none;
}